/* GENERAL RULE SET  */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: 'Public Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* VARIABLES  */
:root {
    /* COLORS  */
    /* PRIMARY COLORS  */
    --DARK-BLUE: hsl(233, 26%, 24%);
    --LIME-GREEN: hsl(136, 65%, 51%);
    --BRIGHT-CYAN: hsl(192, 70%, 51%);

    /* NEUTRAL  */
    --GRAYISH-BLUE: hsl(233, 8%, 62%);
    --LIGHT-GRAYISH-BLUE: hsl(220, 16%, 96%);
    --VERY-LIGHT-GRAY: hsl(0, 0%, 98%);
    --WHITE: hsl(0, 0%, 100%);
    --BLACK: hsl(0, 0%, 0%);
    --OPAQUE-BLACK: hsla(0, 0%, 0%, 0.611);
    --OPAQUE-BLACK-LIGHTER: hsla(0, 0%, 0%, 0.649);

    /* BACKGROUND COLORS  */
    --OPAQUE-BG-GRAY: rgba(243, 243, 243, 0.172);
    /* FONT-SIZE  */
    --SIZE: 18px;

    /* FONT-WEIGHT  */
    --LIGHT-WEIGHT: 300;
    --MEDIUM-WEIGHT: 400;
    --DARK-WEIGHT: 700;
}

/* GENERAL STYLING  */


header {
    width: min(100% - 6vw);
    margin-inline: auto;
}

img {
    display: block;
    max-width: 100%;
}

/* NAVIAGTION  */
/* NAVIGATION UTILITY CLASS */
.topnav {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    margin-top: .8rem;
}

.nav-link {
    display: flex;
    align-items: center;
}

.nav-link a {
    padding-left: 20px;
    color: var(--BLACK);
    text-decoration: none;
    text-transform: capitalize;
}

.nav-link a:hover {
    text-decoration: underline var(--LIME-GREEN) 2.5px;
    transform: scale(1.1);
}

.logo,
.nav-link a,
.btn {
    cursor: pointer;
}

.btn {
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 8px 17px;
    background: linear-gradient(to left, var(--BRIGHT-CYAN), var(--LIME-GREEN));
    color: var(--WHITE);
    font-weight: var(--LIGHT-WEIGHT);
}

.btn:hover {
    filter: brightness(80%);
}

.overlay,
.bar {
    display: none;
}

/* MAIN  */
/* FIRST SECTION  */
.content-1 {
    display: flex;
    align-items: baseline;
    z-index: 100;
    padding-left: 3.5vw;
    width: 40%;
    margin-top: 200px;
    gap: .5rem;
    flex-direction: column;
}

.content-1 h1 {
    font-size: clamp(2rem, 7vw + 1rem, 3rem);
    color: var(--OPAQUE-BLACK);
    white-space: nowrap;
    font-weight: 500;
    margin-bottom: 0;

}

.content-1 p {
    color: var(--OPAQUE-BLACK-LIGHTER);
}

.nowrap {
    display: block;
}

main {
    width: 100%;
}

.container {
    margin-inline-start: auto;
    width: min(100% - 9vw, 1200px);
    display: flex;
    background-color: var(--VERY-LIGHT-GRAY);
    gap: 10rem;
    justify-content: space-between;
    /* max-width: 1200px; */
    width: 100% !important;
}

.phone {
    position: relative;
    /* left: -10px; */
    right: -0px;
    top: -100px;
}

.intro {
    position: relative;
    right: 0;
    top: -100px;
    z-index: 1;
    width: 50%;
}
.intro-m img {
    display: none;
}
.image {
    background-image: url(../EasyBank/images/intro_desktop.svg);
    overflow: hidden !important;
    background-position-x: calc(-10vw);
    background-repeat: no-repeat;
    background-position-y: calc(-30vw);
}

@media screen and (max-width: 670px) {
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 100000;
        top: 42px;
        left: 0;
        background-color: var(--WHITE);
        overflow-y: hidden;
        box-shadow: 3px 4px 6px;
        transition: 0.5s;
    }

    .overlay-content {
        position: relative;
        top: 15%;
        text-align: center;
        margin-top: 30px;
    }

  

    .overlay a {
        padding: 8px;
        text-decoration: none;
        color: var(--BLACK);
        display: block;
        transition: 0.3s;
    }



    .overlay a:hover,
    .overlay a:focus {
        color: var(--LIME-GREEN);
    }

    .overlay .closebtn {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 60px;
    }

    .nav-link,
    .topnav>.btn {
        display: none;
    }

    .overlay,
    .bar {
        display: block;
    }

    .bar {
        float: right;
        position: relative;
        top: 10px;
    }
}
