/* GENERAL RULE SET  */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* VARIABLES  */
:root {
    /* COLORS  */
    /* PRIMARY COLORS  */
    --DARK-BLUE: hsl(233, 26%, 24%);
    --LIME-GREEN: hsl(136, 65%, 51%);
    --BRIGHT-CYAN: hsl(192, 70%, 51%);

    /* NEUTRAL  */
    --GRAYISH-BLUE: hsl(233, 8%, 62%);
    --LIGHT-GRAYISH-BLUE: hsl(220, 16%, 96%);
    --VERY-LIGHT-GRAY: hsl(0, 0%, 98%);
    --WHITE: hsl(0, 0%, 100%);
    --BLACK: hsl(0, 0%, 0%);
    /* FONT-SIZE  */
    --SIZE: 18px;

    /* FONT-WEIGHT  */
    --LIGHT-WEIGHT: 300;
    --MEDIUM-WEIGHT: 400;
    --DARK-WEIGHT: 700;

}

